extends layouts/main-layout.pug

block content 
    main
        if users.length > 0
            div 
                ul 
                    each user in users 
                        li.user #{user.user_name}
        else 
            h2 No users found